<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}"></head>
<body>
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
<div class="container">
    <div class="pg-opt">
        <div class="row">
            <div class="col-md-6 pc">
                <h2 th:text="#{WRITE_NEW_ARTICLE}">WRITE NEW ARTICLE</h2>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li th:text="#{BOARD}">BOARD</li>
                    <li class="active" th:text="#{WRITE_NEW_ARTICLE}">WRITE NEW ARTICLE</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content">
        <form th:action="@{/board/write}" method="post" enctype="multipart/form-data" class="form-horizontal">
            <input type="hidden" name="csrfToken" th:value="${session.csrfToken}">
            
            <div class="form-group" th:if="${categoryList != null}">
                <label for="categoryId" class="control-label col-sm-2" th:text="#{CATEGORY}">CATEGORY</label>
                <div class="col-sm-4">
                    <select name="categoryId" id="categoryId" class="form-control" required>
                        <th:block th:each="category : ${categoryList}">
                            <option th:value="${category.categoryId}" 
                                    th:text="${category.categoryName}" 
                                    th:selected="${category.categoryId eq categoryId}">
                            </option>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="writer" class="control-label col-sm-2" th:text="#{WRITER}">WRITER</label>
                <div class="col-sm-2">
                    <input type="text" name="writer" id="writer" th:value="${session.name}" 
                           th:readonly="${session.name != null ? 'readonly' : false}" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="control-label col-sm-2" th:text="#{EMAIL}">EMAIL</label>
                <div class="col-sm-4">
                    <input type="text" name="email" id="email" th:value="${session.email}" 
                           th:readonly="${session.email != null ? 'readonly' : false}" class="form-control" 
                           autocomplete="off" required>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="control-label